.input-field {
    min-height: 20px;
    margin-bottom: 16px;
    border: none;
    border-bottom: 1px solid var(--dark-blue);
    box-sizing: border-box;
}

.input-field:last-of-type {
    margin-bottom: 62px;
}

.input-field:focus {
    outline: none;
}
