.input-field {
    min-height: 20px;
    margin-bottom: 16px;
    border: none;
    border-bottom: 1px solid var(--dark-blue);
    box-sizing: border-box;
}

.input-field:focus {
    outline: none;
}

.input-error {
    display: none;
    color: var(--red);
    margin-bottom: 16px;
}

.input-visible {
    display: inline-block;
}
