.profile__container {
    display: flex;
    height: 100vh;
}

.profile__column-left {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 64px;
    background: #FBFBFB;
    border-right: 1px solid #EAEAEA;
    padding: 0 10px;
}

.profile__arrow-back {
    border: none;
    width: 28px;
    height: 28px;
    background: url("../../../../static/assets/blue-arrow.svg");
}

.profile__column-right {
    flex-grow: 1;
}

.profile__settings__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.user__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.user__name {
    font-weight: 600;
    margin-top: 21px;
}

.user__info__list {
    margin: 0;
    padding: 0;
}

.user__info__item {
    min-width: 510px;
    list-style-type: none;
    margin-bottom: 10px;
}

.user__info__item:not(:last-of-type) {
    border-bottom: 1px solid #EAEAEA;
}

.item__field {
    width: fit-content;
    padding: 10px 0;
    border: none;
}

.item__field:focus {
    outline: none;
}

.item__field::placeholder, .item__value {
    text-align: end;
    color: #999999;
    margin: 0;
}

.item__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.item__title {
    font-weight: 500;
}

.setting__buttons__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 510px;
}

.profile__setting__button {
    width: 100%;
    background: none;
    color: #3369F3;
    font-weight: 500;
    border: none;
    cursor: pointer;
    padding: 6px;
}

.profile__setting__button:not(:last-of-type) {
    border-bottom: 1px solid #EAEAEA;
}

.exit__button {
    color: #FF0000;
}