# compiled output
/dist

# Dependency directories
/node_modules
package-lock.json

# IDEs and editors
.idea
.parcel-cache

# dotenv environment variables file
.env

# System Files
.DS_Store

coverage
