.chat__container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.column-left__header {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    min-height: 102px;
    border-bottom: 1px solid var(--dirty-white);
}

.chat__column-left {
    display: flex;
    flex-direction: column;
    width: 310px;
    min-width: 250px;
    background: var(--light-white);
    border-right: 1px solid var(--dirty-white);
    padding: 0 10px;
}

.header__profile__button {
    align-self: end;
    color: var(--gray);
    border: none;
    background: none;
    cursor: pointer;
}

.header__profile__search {
    background: var(--dirty-white);
    min-height: 32px;
    border-radius: 5px;
    border: none;
}

.header__profile__search::placeholder {
    text-align: center;
}

.contact__data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.data__title {
    margin-bottom: 4px;
    color: var(--black);
}

.data__message {
    margin: 0;
    color: var(--gray);
    font-size: var(--regular);
}

.chat__column-right {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 20px;
}

.empty__chat {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--dirty-white);
    font-size: var(--big-title);
    transform: translate(-50%, -50%);
    cursor: default;
}

.chat__list {
    margin: 0;
    padding: 0;
    margin-bottom: auto;
}

.chat__list__item {
    display: flex;
    padding: 12px 0;
    list-style-type: none;
    border-bottom: 1px solid var(--dirty-white);
}

.chat__title {
    margin-left: 10px;
}

.window__header {
    padding: 10px 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid var(--dirty-white);
}

.window__main {
    flex-grow: 1;
    padding: 20px 30px;
    overflow-y: hidden;
}

.window__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 54px;
    border-top: 1px solid var(--dirty-white);
    padding: 23px 0;
}

.send__message__settings {
    border: none;
    width: 32px;
    height: 32px;
    background: url('../../../../static/assets/blue-clip.svg');
    cursor: pointer;
}

.send__message__button {
    border: none;
    width: 32px;
    height: 32px;
    background: url('../../../../static/assets/blue-arrow.svg') no-repeat;
    cursor: pointer;
    transform: rotate(180deg);
}

.send__message__field {
    width: 100%;
    margin: 0 10px;
    padding: 10px 20px;
    min-height: 32px;
    background: var(--dirty-white);
    border-radius: 30px;
    box-sizing: border-box;
    border: none;
}

.send__message__container {
    position: relative;
}

.send__message__popup {
    display: none;
    top: -45px;
    background: #626262;
    right: 0;
    color: white;
    padding: 10px;
    border-radius: 8px;
    white-space: nowrap;
    position: absolute;
}

.send__message__popup::after {
    content: '';
    width: 10px;
    bottom: -4.5px;
    right: 9px;
    height: 10px;
    background: inherit;
    border-radius: 1px;
    position: absolute;
    transform: rotate(45deg);
}

.popup-visible {
    display: inline-block;
}

.header__profile__burger {
    border: none;
    background: transparent;
    position: relative;
    display: flex;
    align-items: center;
    width: 25px;
    padding: 5px 0;
    height: 25px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
}

.chat__options__click-handler {
    padding: 10px;
}

.chat__options__container {
    margin-left: auto;
    cursor: pointer;
    position: relative;
}

.chat__options__click-handler {
    padding: 10px;
}

.chat__options {
    position: relative;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--dark-blue);
}

.chat__options::before {
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--dark-blue);
    left: 0;
    top: -8px;
}

.chat__options::after {
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--dark-blue);
    left: 0;
    bottom: -8px;
}

.chat__options__list__container {
    display: none;
    position: absolute;
    top: 30px;
    right: 10px;
    padding: 19px 15px;
    margin: 0;
    background: var(--white);
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    border-radius: 12px;
}

.chat__options__list {
    padding: 0;
    margin: 0;
}

.chat__options__item {
    display: flex;
    align-items: center;
    list-style-type: none;
    white-space: nowrap;
    cursor: pointer;
}

.add__user__icon {
    position: relative;
    width: 22px;
    height: 22px;
    margin-right: 15px;
    border-radius: 50%;
    border: 1px solid var(--dark-blue);
    background: transparent;
    cursor: pointer;
}

.add__user__icon::before {
    position: absolute;
    content: '';
    width: 11px;
    height: 1px;
    background: var(--dark-blue);
    left: 25%;
    top: 50%;
    transform: rotate(90deg);
}

.add__user__icon::after {
    position: absolute;
    content: '';
    width: 11px;
    height: 1px;
    background: var(--dark-blue);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.delete__user__icon {
    display: block;
    position: relative;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    margin-right: 15px;
    border: 1px solid var(--dark-blue);
    background: transparent;
    cursor: pointer;
}

.delete__user__icon::after {
    content: '';
    position: absolute;
    width: 11px;
    height: 1px;
    background: var(--dark-blue);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chat__options__item:not(:last-child) {
    margin-bottom: 16px;
}

.burger__line {
    height: 2px;
    width: 100%;
    background: var(--dark-blue);
}

.burger__line::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 5px;
    background: var(--dark-blue);
}

.burger__line::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--dark-blue);
    left: 0;
    bottom: 5px;
}

.column-left__footer {
    display: flex;
    justify-content: space-between;
    padding: 35px 40px;
    border-top: 1px solid var(--dirty-white);
}

.footer__button-add-chat {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--dark-blue);
    background: transparent;
    cursor: pointer;
}

.footer__button-add-chat::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 1px;
    background: var(--dark-blue);
    left: 25%;
    top: 50%;
    transform: rotate(90deg);
}

.footer__button-add-chat::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 1px;
    background: var(--dark-blue);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.footer__button-delete-chat {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--dark-blue);
    background: transparent;
    cursor: pointer;
}

.footer__button-delete-chat::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 1px;
    background: var(--dark-blue);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.data__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.data__unread__messages__container {
    display: flex;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: var(--dark-blue);
}

.data__delete-chat {
    display: block;
    position: relative;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: var(--red);
    cursor: pointer;
}

.data__delete-chat::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background: var(--white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.data__unread__messages {
    margin: auto;
    color: var(--white);
}

.messages__list {
    display: flex;
    height: 100%;
    overflow: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    list-style-type: none;
    width: fit-content;
    max-width: 250px;
    margin-top: 20px;
    padding: 10px;
    background: var(--light-blue);
    border-radius: 12px;
}

.owner {
    align-self: end;
}

.other {
    align-self: start;
}

.close__options__list {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.close__options__list::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    background: var(--black);
    transform: rotate(45deg);
}

.close__options__list::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    background: var(--black);
    transform: rotate(-45deg);
}
